<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <filter-name>character-set</filter-name>
        <filter-class>com.GeWei.Filter.CharacterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>character-set</filter-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/user</url-pattern>
        <url-pattern>/clientBook</url-pattern>
        <url-pattern>/managerBook</url-pattern>
        <url-pattern>/mail</url-pattern>
        <url-pattern>/cart</url-pattern>
        <url-pattern>/clientOrder</url-pattern>
        <url-pattern>/managerOrder</url-pattern>
             <url-pattern>/scan</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>sensitive-word</filter-name>
        <filter-class>com.GeWei.Filter.SensitiveWordFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sensitive-word</filter-name>
        <url-pattern>/user</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>manager</filter-name>
        <filter-class>com.GeWei.Filter.ManagerFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>manager</filter-name>
        <url-pattern>/pages/manager/*</url-pattern>
        <url-pattern>/managerBook</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>client</filter-name>
        <filter-class>com.GeWei.Filter.ClientFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>client</filter-name>
        <url-pattern>/clientOrder</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/pages/error/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/pages/error/error500.jsp</location>
    </error-page>
</web-app>
